
form{
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px auto;

}

h1{
    font-size: 40px;
    margin: 50px auto;
}
label{
    margin: auto;
    font-size: 20px;
}
input{
    width: 50%;
    margin: 0  auto 30px auto;
    height: 35px;
    
}

button{
    width: 25%;
    height: 40px;
    border-radius: 25px;
    border: none;
    background: linear-gradient(#0345fb,#00000061);
    margin: auto;
    color: #fff;
    font-size: 25px;
}

.update{
    width: 25%;
    height: 40px;
    border-radius: 25px;
    border: none;
    background: linear-gradient(#0345fb,#00000061);
    margin: auto;
}

textarea{
    width: 50%;
    margin: auto;
    height: 35px;
}


.add{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    margin: auto;
    font-size: 25px;
   border-radius: 30px;
    color:#fff ;
    text-decoration: none;
    background: rgb(7, 193, 250);

}